@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "JD Sans Pro";
	src: url("https://dtewary-dev-storage.innoida.utho.io/fonts/JDSansPro-Bold.woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "JD Sans Pro";
	src: url("https://dtewary-dev-storage.innoida.utho.io/fonts/JDSansPro-Medium.woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "JD Sans Pro";
	src: url("https://dtewary-dev-storage.innoida.utho.io/fonts/JDSansPro-Semibold.woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	font-family: "JD Sans Pro", sans-serif;
	box-sizing: border-box;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

@layer base {
	body {
		@apply bg-brand-background text-brand-black;
	}
}

@layer utilities {
	.os-light {
		font-family: "Signika", sans-serif;
		font-optical-sizing: auto;
		font-weight: 300;
		font-style: normal;
		font-variation-settings: "wdth" 100;
	}
	.os-regular {
		font-family: "Signika", sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings: "wdth" 100;
	}
	.os-bold {
		font-family: "Signika", sans-serif;
		font-optical-sizing: auto;
		font-weight: 700;
		font-style: normal;
		font-variation-settings: "wdth" 100;
	}

	.os-semibold {
		font-family: "Signika", sans-serif;
		font-optical-sizing: auto;
		font-weight: 600;
		font-style: normal;
		font-variation-settings: "wdth" 100;
	}

	.os-medium {
		font-family: "Signika", sans-serif;
		font-optical-sizing: auto;
		font-weight: 500;
		font-style: normal;
		font-variation-settings: "wdth" 100;
	}

	.JDSans {
		font-family: "JD Sans Pro", sans-serif;
	}
}

.shadow-mild {
	box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.shadow-medium {
	box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
